<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <title>Chat info</title>
</head>
<body>
    {{> header}}

    <table id="main_table" class="table table-condensed table-striped table-bordered">
        <tr>
            <th>From</th>
            <th>Date/time</th>
            <th>Message</th>
        </tr>
        {{#each messages}}
        <tr>
            <td>{{this.from.username}}</td>
            <td>{{this.date}}</td>
            {{#if this.text}}
                <td>{{this.text}}</td>

            {{else}}
                <td>{{this.photo.0.file_id}}</td>
            {{/if}}

        </tr>
        {{/each}}
    </table>
    <h2 class="font-weight-light">Also you can send message to group</h2>
    <form id="text_form" action="/" class="input-group w-50" method="post" onsubmit="return false">
        <div class="input-group-prepend">
            <span class="input-group-text">Type here</span>
        </div>
        <input id="t" type="text" name="txt" class="form-control"/>
        <input type="submit" class="btn btn-success mr-2" value="Send"/>
    </form>

    {{> footer}}

    <script>
        $(function () {
            $("#text_form").submit(function (e) {
                let $form = $(this);
                $.ajax({
                    type: "POST",
                    url: "/",
                    data: $form.serialize()
                }).done(function () {
                    console.log("Success");
                }).fail(function () {
                    console.log("fail");
                });

                let message = `<tr>
                                    <td>Bot</td>
                                    <td>${new Date().toLocaleString()}</td>
                                    <td>${$("#t").val()}</td>
                               </tr>`;
                $("#main_table").append(message);
                $('#text_form')[0].reset();
                e.preventDefault();
            });
        });
    </script>
</body>
</html>